@import-normalize;

@font-face {
  font-family: 'AugsburgerSchriftCAT';
  src: url('../fonts/augsburger-schrift/AugsburgerSchriftCAT.woff2') format('woff2'),
    url('../fonts/augsburger-schrift/AugsburgerSchriftCAT.woff') format('woff'),
    url('../fonts/augsburger-schrift/AugsburgerSchriftCAT.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}


html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #121212;
  color: rgb(230, 230, 230);
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
}
