html,
body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.4;
  background-color: #212221;
  color: rgba(255, 255, 255, 0.87);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Sedgwick Ave', cursive;
}
